:root {
  --alt-color-1: #ebcd8d;
  --alt-color-2: #eb9e8d;
}

@font-face {
    font-family: delicious;
    src: url("./fonts/Caveat/Caveat-VariableFont_wght.ttf");
}

.controls-arrow {
  display: none; !important;
}

.slide-number {
  font-size: 24pt !important;
  margin-bottom: 0.3em;
  margin-right: 0.3em;
}

.reveal .header {
  position: absolute;
  top: 0;
  padding: 1em;
  font-size: 48pt;
  width: 100%;
  z-index: -9;
}

.reveal .footer {
  position: absolute;
  bottom: 0;
  padding: 1em;
  font-size: 18pt;
  width: 100%;
  z-index: 9;
}

h1 {
  position: absolute;
  top: 0;
  font-size: 48pt !important;
}

h2 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 48pt !important;
  text-transform: none !important;
}

h3 {
  text-transform: none !important;
}

.present {
  left: 0;
  top: 0;
}

.strikethrough {
  color: #a00000;
  text-decoration:line-through;
}
.strikethrough > span {
  color: #000;
}

blockquote {
  text-align: left;
  padding: 0.5em !important;
  border-radius: 0.5em;
  font-size: 24pt !important;
}

.author {
  position: absolute;
  width: 100%;
  text-align: right;
  bottom: 0.7em;
  right: 1em;
}

.highlight-line {
    background-color: #ff9;
}


img.bordered {
  border:1px solid #000;
  border-radius:0.2em;
}

.grade {
  font-family: delicious;
  padding-left: 1em;
  color: #a00000;
}

.edited_title {
  color:#a00000;
  font-family: delicious;
  position:absolute;
  top:0.8em;
  left:1em;
}

.crossed_out {
  color: #a00000;
  text-decoration: line-through;
}

.wrong_content {
  color: var(--r-main-color);
}

.blockquote1 {
  background-color: var(--alt-color-1) !important;
}

.blockquote2 {
  background-color: var(--alt-color-2) !important;
}

.name1 {
  font-size: 16pt !important;
  margin: 1em 0.6em !important;
  padding: 0 0.5em !important;
  width: 11em !important;
  background-color: var(--alt-color-1) !important;
}

.name2 {
  font-size: 16pt !important;
  margin: 1em 0.6em !important;
  padding: 0 0.5em !important;
  width: 11em !important;
  background-color: var(--alt-color-2) !important;
}
