.reveal .footer {
  position: absolute;
  bottom: 0;
  padding: 1em;
  font-size: 18pt;
  width: 100%;
  background-color: #dad0ff;
  z-index: 9;
}

h1 {
  position: absolute;
  top: 0;
}

h2 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: serif !important;
  font-size: 48pt !important;
}

.present {
  left: 0;
  top: 0;
}

.strikethrough {
  color: #a00000;
  text-decoration:line-through;
}
.strikethrough > span {
  color: #000;
}

blockquote {
  background: #eae0ff !important;
  padding: 0.5em !important;
  border-radius: 0.5em;
  font-size: 24pt !important;
  padding-bottom: 1.5em !important;
}

.author {
  position: absolute;
  width: 100%;
  text-align: right;
  bottom: 0.7em;
  right: 1em;
}
